.loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.spinner {
  width: 32px;
  height: 32px;
  clear: both;
  margin: 200px auto;
  z-index: 100;
}

.spinner-circle {
  border: 4px rgba(#000, 0.25) solid;
  border-top: 4px rgba(#000, 1) solid;
  border-radius: 50%;
  -webkit-animation: circleRotation .6s infinite linear;
  animation: circleRotation .6s infinite linear;
}

@-webkit-keyframes circleRotation {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(359deg); }
}

@keyframes circleRotation {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}
