.textarea {
  height: 220px;
  padding: 10px;
  border: 2px solid black;

  &.invalid {
    border: 2px solid darkred;
  }

  &.valid {
    border: 2px solid lawngreen;
  }
}

.validate {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  align-items: center;
  justify-content: center;
}

.validate-button {
  height: 30px;
  width: 150px;
}

.messages {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: lawngreen;

  &.invalid {
    color: darkred;
  }
}

.msg {
  font-size: 13px;
  margin-top: 7px;
}
