<!doctype html>
<html>
  <head>
    <title>Developer Quizz</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body>
    <div id="app">Loading..</div>
    <script src="/static/bundle.js"></script>
  </body>
</html>
