.variants {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 350px;
  margin: 0 auto;
}

.variant {
  cursor: pointer;
  margin: 7px;
  padding: 10px;
  width: 100%;
  border: 1px solid black;

  &:hover {
    background-color: azure;
  }

  &.selected {
    color: white;
    background-color: midnightblue;
  }
}

.variants-label {
  margin-bottom: 20px;
  text-align: center;
}
